$--color-white: #fff;
$--border : 1px solid #ccc;
$--border-radius:8px;
$--Collapse-width:620px;
$--background-color:#fff(233, 233, 233);
$--color:rgb(206, 205, 205);
$--font-size:14px;
$--line-height:50px;
$--Collapse-ul-width:580px;
$--Collapse-ul-li-p-height:50px;
$--margin-top:10px;
$--padding:0 20px;
